html {
    background-image: url("../img/background/keith-misner-h0Vxgz5tyXA-unsplash.jpg");
    color: brown;
}
h1 {
    text-align: center;
}
a.active {
    color: darkslategrey;
}
a.hover {
    color: darkslategray;
}
a.vister {
    color: darkslategray;
}

